FORMAT: 1A
HOST: https://sandbox.xerpa.com.br/

# Xerpa API

Bem vindo a Xerpa _API_, nesta página você encontrará as informações
necessárias para utilizar nossa _API_. Os itens abordados nesta
pequena introdução incluem os métodos para autenticação da _API_, o
ambiente para realizar os testes das requisições e exemplos de
consultas na _API_ utilizando GraphQL.

[GraphQL](http://graphql.org/) trata-se de uma linguagem de consulta
para _APIs_ criada pelo **Facebook**, que permite obter toda a
informação em uma única solicitação, ao contrário de uma consulta de
_API_ usando _REST_, que comumente requer múltiplas interações com o
servidor.

**Referências**:
* [facebook.github.io/graphql](http://facebook.github.io/graphql/)
* [graphql.org](http://graphql.org/)

# _SANDBOX: Ambiente de Testes_

A Xerpa fornece um ambiente de testes isolado com características
semelhantes ao ambiente de produção. Este ambiente está disponível na
URL https://sandbox.xerpa.com.br. **No entanto, todos os dados criados
no ambiente de _sandbox_ são apagados após o período de uma semana**.

Também é importante ressaltar que os _tokens_ criados no _sandbox_ não
são compartilhados com o ambiente de produção e vice-versa. Portanto,
sempre que desejar utilizar este ambiente você precisa registrar uma
empresa e registrar um _token_.

Para registrar um nova empresa, acesse
https://sandbox.xerpa.com.br/company-signup e complete o processo de
registro. Depois de concluído, siga os passos a seguir para obter
acesso à API.

# Autenticação

O primeiro passo para poder utilizar a _API_ da Xerpa é solicitar um
_token_ de autenticação. Esta requisição só poderá ser realizada por
contas com credenciais de *Departamento Pessoal*.

Os passos para gerar o _token_ são descritos a seguir. No menu
principal clique em: _Configuração da Empresa > Integrações com outros
sistemas > Xerpa API_. Digite uma pequena descrição sobre o _token_ e
clique no botão *Gerar token*. **Mantenha este _token_ seguro,
considere-o como uma senha pois este _token_ permite ao usuário ler,
escrever e apagar qualquer informação associada a empresa**.

Depois de criado, cada requisição à _API_ requer um cabeçalho de
autorização no seguinte formato (lembre-se de substituir _TOKEN_ pelo
valor obtido no passo anterior):

```
  Authorization: Bearer TOKEN
```

# API Playground

[API Playground](https://sandbox.xerpa.com.br/api/playground) é uma
instância do [graphiql](https://github.com/graphql/graphiql) que
funciona como uma ferramenta interativa no navegador para explorar uma
_API GraphQL_. Com essa ferramenta é possível testar suas solicitações
de maneira interativa e navegar pela estrutura da _API_.

Todos os exemplos nessa documentação podem ser usados no
_playground_. Para isso copie a soliticação juntamente com as
variáveis para os locais apropriados no _graphiql_.

## GraphQL API [/api/g{?variables}]

### Profile [POST]

- Parameters
    - variables: `{"profile_id": "1"}` (json, required)

+ Request (application/graphql)

    + Headers

            authorization: Bearer TOKEN

    + Body

            query($profile_id: ID!) {
              profile(id: $id) {
                id, name
              }
            }

+ Response 200 (application/json)

    + Body

            {
                "data": {
                    "profile": {
                        "id": "1",
                        "name": "Tenzing Norgay"
                    }
                }
            }

    + Attributes
        + profile: (Profile)
